[submodule "NLW03-frontend"]
	path = NLW03-frontend
	url = https://github.com/ericsonmoreira/NLW03-frontend.git
[submodule "NLW03-backend"]
	path = NLW03-backend
	url = https://github.com/ericsonmoreira/NLW03-backend.git
[submodule "NLW03-mobile"]
	path = NLW03-mobile
	url = https://github.com/ericsonmoreira/NLW03-mobile.git
